<header>
        <img src="assets/images/logo.png" alt="Logo">
        <nav class="big_navigation">
            <ul>
                <li><a href="./index" class="">Home</a></li>
                <li><a href="./quiz" class="">Quiz</a></li>
                <li><a href="./favorites" class="">Favorites</a></li>
                <li><a href="./blacklist" class="">Blacklist</a></li>
                <%if(isLoggedIn) {%>
                    <li class="big-account-button "><p class="account-header-piece"><%= loggedInInfo.username %></p>
                    <ul class="big-header-dropdown">
                        <li><a href="./user-settings" class="">User Settings</a></li>
                        <li><a href="./logout" class="">Logout</a></li>
                    </ul>
                    </li>
                    <% } else { %>
                        <li><a href="./login" class="account-header-piece">Login</a></li>
                    <% } %>
            <ul>
        </nav>

        <div class="phone_menu_button">
            <img src="assets/icon/menu-phone.svg" alt="Menu">
            <ul class="phone_menu_navigation">
                <li><a href="./index" class="">Home</a></li>
                <li><a href="./quiz" class="">Quiz</a></li>
                <li><a href="./favorites" class="">Favorites</a></li>
                <li><a href="./blacklist" class="">Blacklist</a></li>

                <%if(isLoggedIn) {%>
                <li><p class="account-header-piece"><%= loggedInInfo.username %></p></li>
                <li><a href="./user-settings" class="">User Settings</a></li>
                <li><a href="./logout" class="">Logout</a></li>
                <% } else { %>
                    <li><a href="./login" class="">Login</a></li>
                    <li><a href="./register" class="">Register</a></li>
                <% } %>
            <ul>
    </div>
</header>