<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404- Not Found</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <img style="width: 100%; height: calc(100vh - 3px);" src="assets/images/404.jpg" alt="404">
    <p style="position: fixed; top: 0; left: 0; font-weight: 700; font-size: 45px;">LOST! MY PRECIOUS IS LOST</p>
</body>

</html>