<main id = "blacklist_container">
        <ul>
        <%blacklistedQuotes.forEach((quote, i) => {%>
        <li><blockquote>“<%= quote.dialog %> - <%= rates[i].reason %>”</blockquote></li>
        <%})%>
        </ul>
</main>