<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The One/Blacklist | Gremlins</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>The One Blacklist</h1>
    <img src="Content/LogoLOTR" alt="Logo">
    <nav>
        <ul class="LOTR_Nav">
            <li><a href="" class="">Home</a></li>
            <li><a href="" class="">Quiz</a></li>
            <li><a href="" class="">Favorites</a></li>
            <li><a href="" class="">Blacklist</a></li>
        <ul>
    </nav>

    <main>
        <h1><b>Blacklist</b></h1>
        <img src="https://icons.veryicon.com/png/o/miscellaneous/cloud-call-center/blacklist-8.png" alt="Logo">

        <ul>
        <li><blockquote>“So many books, so little time.”</blockquote></li>
        <li><blockquote>“A room without books is like a body without a soul.”</blockquote></li>
        <li><blockquote>“Be the change that you wish to see in the world.”</blockquote></li>
        <li><blockquote>“If you tell the truth, you don't have to remember anything.”</blockquote></li>
        <li><blockquote>“Always forgive your enemies; nothing annoys them so much.”</blockquote></li>
        <li><blockquote>“We accept the love we think we deserve.”</blockquote></li>
        <li><blockquote>“It is better to be hated for what you are than to be loved for what you are not.”</blockquote></li>
        </ul>
    </main>

</body>
</html>