<main id = "blacklist_container">

        <%blacklistedQuotes.forEach((quote, i) => {%>
        <article>
               
                <div class="blacklist-left">
                <p>Quote: “<%= quote.dialog %>”</p>
                <p>Reason: <%= rates[i].reason %></p>
                </div>
                <div class="blacklist-right">
                        <input type="image" src="/assets/icon/edit.svg" alt="edit">
                        <input type="image" src="/assets/icon/trash.svg" alt="trash">
                </div>
        </article>
        <%})%>
</main>