<main id= "favorieten_container">
    <!--<img src="assets/images/favorite-quotes.jpg" alt="Logo">
    <li><blockquote>“You shall not pass” - <a href="https://lotr.fandom.com/wiki/Gandalf">Gandalf</a></blockquote></li>-->
    <ul>
        <%favoritedQuotes.forEach(rate => {%>
        <li><blockquote>“<%= rate %>”</blockquote></li>
        <%})%>
        </ul>
</main>