<script src="/js/favorites.js" defer></script>

<main id= "rating_page" class="wrapper">

    <section class="title-bar">
        <h1>Favorite characters</h1>
    
        <form action="/downloadfavoriteCharacters" method="get">
                <input class="icon" type="image" src="/assets/icon/download.svg" alt="Download" title="Download All">
        </form>    
     </section>       

        <section class="quotes">
        
        
        </section>
</main>