<main id= "favorieten_container">
    <img src="assets/images/favorite-quotes.jpg" alt="Logo">
    <ul>Dit zijn alle Favoriete quotes:
        <li><blockquote>“You shall not pass” - <a href="https://lotr.fandom.com/wiki/Gandalf">Gandalf</a></blockquote></li>
    </ul>
</main>