<main>

    <img src="/public/assets/images/firering.png" alt="ring"> 

    <h1>One ring to rule them all...</h1>

    <p>The 'Lord Of The Rings' is among the most
        popular fantasy book and movie series in 
        history. Along with it's popularity in the film
        industry, it's also a very popular topic when it
        comes to trivia. Dig into some trivia questions
        and test your knowledge as a true 'Lord Of The
        Rings' fan!
    </p>

    <a href="quiz.ejs">Let's get started...</a>

</main>