<main id="quiz-page">
    <div class="quiz-box">
        <section class="quiz-head">
            <h1>The One Quiz</h1>
        </section>

        <section class="quiz-main">
            <form action="/quiz" method="post" class="start-quiz">
                <input type="hidden" value="start" name="startQuiz" />
                <button type="submit" class="">START QUIZ</button>
            </form>
        </section>

        <section class="quiz-footer" style="display: block; text-align: center;">
            <h2>The ultimate quiz!</h2>
        </section>
    </div>
</main>