<main id="quiz-page">
    <div class="quiz-box">
        <form action="/quiz" method="post">
            <input type="hidden" value="true" name="startQuiz" />
            <button type="submit" class="start-quiz-btn">START QUIZ</button>
        </form>
    </div>
</main>