<main id="quiz-page">
    <div class="quiz-box">
        <h1>Total score: <%- score %>
        </h1>
        <ul>
            <% answeredQuestionsMap.forEach((v,k)=> { %>
                <li>
                    <%= k.Dialog %> - <%= v %>
                </li>
                <% }); %>
        </ul>

    </div>
</main>