<script src="/js/quiz-handler.js" defer></script>

<main id="quiz-page">
    <div id="quiz-box">
        <noscript>
            <p>You need Javascript enabled for this quiz to work</p>
        </noscript>
    </div>
</main>