<script src="/js/usersettings.js" defer></script>
<main id="user-settings-page" class="wrapper">

    <section class="title-bar">
        <h1>User Settings</h1> 
     </section>       

     <section class="user-settings-main">
        <form action="/user-settings" method="post" id="setting-form">
            <label for="username">Nickname:</label> <br> 
            <input type="text" name="username" id="username" value="<%= loggedInInfo.username%>">
            <input type="checkbox" name="showscore" id="showscore" <%= loggedInInfo.canShowOnScoreboard ? "checked" : "" %>>
            <label for="showscore">Show on scoreboard</label>
        </form>    
     </section> 

     <section class="user-settings-footer">
         <button type="submit" form="setting-form">Save</button>
         <button>Wipe all session data</button>
     </section>

</main>