@font-face {
    font-family: "middleearth";
    src: url("../assets/fonts/middleearth-font/Middleearth-ao6m.ttf") format("truetype");
}

@font-face {
    font-family: "ringbearer";
    src: url("../assets/fonts/ringbearer/RINGM___.TTF") format("truetype");
}