@import url("./font.css");
:root {
  --c-main-background: black;
  --c-overlay-background: #322B2B;
  --c-main-title: #9F7510;
  --c-main-text: white;
  --o-main-text: 78%;
}

/* #region Media Queries */
/* #endregion */
/* #region Main Style */
.wrapper {
  width: 100%;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--c-main-background);
}

h1 {
  color: var(--c-main-title);
  font-size: 2rem;
}

a,
p,
label {
  color: var(--c-main-text);
  text-decoration: none;
  opacity: var(--o-main-text);
}

/* #endregion */
/* #region Header */
header {
  height: 60px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header > img {
  display: block;
  width: 45%;
  min-width: 250px;
  max-width: 300px;
  padding: 5px 0 5px 0;
  height: 50px;
}

header .big_navigation {
  display: none;
}

header .big_navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
}

header .big_navigation > ul .big-account-button:hover {
  cursor: pointer;
}

header .big_navigation > ul > li {
  line-height: 60px;
  padding: 0 6px;
  font-size: 1.56rem;
  position: relative;
}

header .big_navigation > ul > li a, header .big_navigation > ul > li p {
  color: var(--c-main-title);
  font-weight: bold;
}

header .big_navigation > ul > li > ul {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--c-overlay-background);
  z-index: 50;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

header .big_navigation > ul > li > ul > li {
  width: 100px;
  text-align: center;
  border-top: solid 3px var(--c-main-title);
}

header .big_navigation > ul > li > ul > li a {
  font-size: 1rem;
}

header .big_navigation > ul > li > ul > li:last-of-type {
  border-bottom: solid 3px var(--c-main-title);
}

@media only screen and (min-width: 750px) {
  header .big_navigation {
    display: block;
  }
}

header .phone_menu_button {
  width: 25px;
  height: 25px;
  padding-top: calc(25px / 1.5);
  margin-right: 1rem;
}

header .phone_menu_button:hover {
  cursor: pointer;
}

header .phone_menu_button img {
  display: block;
  width: 25px;
  height: 25px;
}

header .phone_menu_button .phone_menu_navigation {
  display: none;
  z-index: 50;
  position: absolute;
  background-color: var(--c-overlay-background);
  left: 0;
  top: 60px;
  width: 100%;
  list-style: none;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

header .phone_menu_button .phone_menu_navigation li {
  text-align: center;
  border-top: solid 3px var(--c-main-title);
}

header .phone_menu_button .phone_menu_navigation li a,
header .phone_menu_button .phone_menu_navigation li p {
  display: block;
  font-size: 1.56rem;
  font-weight: bold;
  width: 100%;
}

header .phone_menu_button .phone_menu_navigation li:last-of-type {
  border-bottom: solid 3px var(--c-main-title);
}

@media only screen and (min-width: 750px) {
  header .phone_menu_button {
    display: none;
  }
}

header .account-header-piece {
  text-decoration: underline;
}

/* #endregion */
/* #region Landing Page */
#landing-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.392);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
}

#landing-overlay .landing-overlay__popup {
  position: absolute;
  width: 330px;
  height: 230px;
  left: calc(50% - (330px / 2));
  top: calc(50% - (230px / 2));
  background-color: #9F7510;
  background-color: white;
  border-radius: 15px;
  -webkit-animation: scaleUp 500ms ease-in-out forwards;
          animation: scaleUp 500ms ease-in-out forwards;
}

#landing-overlay .landing-overlay__popup .landing-overlay__popup__content {
  height: 200px;
  margin-top: calc(50% - (200px / 2));
}

#landing-overlay .landing-overlay__popup .landing-overlay__popup__content p {
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 2.5rem;
  color: #707070;
}

#landing-overlay .landing-overlay__popup .landing-overlay__popup__content button {
  display: block;
  margin: 0 auto;
  padding: 0.6rem 3rem;
  border-radius: 5px;
  border: solid thin var(--c-main-title);
  background-color: var(--c-main-title);
  font-size: 1.4rem;
}

#landing-overlay .landing-overlay__popup .landing-overlay__popup__content button:hover {
  cursor: pointer;
}

#landing-page section {
  max-width: 514px;
}

#landing-page section h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#landing-page section .landing-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 352px;
}

#landing-page section .landing-choices a {
  border-radius: 50%;
}

#landing-page section .landing-choices a input[type="image"] {
  display: block;
  width: 159px;
  height: 166px;
  border-radius: 50%;
  border: solid thin var(--c-main-title);
}

@media only screen and (min-width: 518px) {
  #landing-page section {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(25%);
            transform: translateX(-50%) translateY(25%);
    width: 518px;
    max-width: 518px;
  }
}

@media only screen and (min-width: 518px) {
  #landing-page {
    position: relative;
  }
}

/* #endregion */
/* #region Home page */
/* #endregion */
/* #region Login page */
#login-page form {
  display: block;
  text-align: center;
  padding-top: 50%;
}

#login-page form input {
  background-color: var(--c-overlay-background);
  border: none;
  display: block;
  height: 40px;
  width: 278px;
  margin: 0 auto;
}

#login-page form input[type="submit"] {
  margin-top: 1rem;
  background-color: var(--c-main-title);
  width: 160px;
  height: 58px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#login-page form label {
  display: block;
  font-size: 1.9rem;
  margin: 0.5rem 0;
}

/* #endregion */
/* #region Animations */
@-webkit-keyframes deployAnimation {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes deployAnimation {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes retractAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes retractAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* #endregion */
/*# sourceMappingURL=main.css.map */