@import url("./font.css");

:root {
    --c-main-background: black;
    --c-overlay-background: #322B2B;
    --c-main-title: #9F7510;
    --c-main-text: white;
    --o-main-text: 78%;
}

/* #region Media Queries */
@mixin devices ($breakpoint) {

    @if $breakpoint ==tablet {
        @media only screen and (min-width: 518px) {
            @content;
        }
    }

    @if $breakpoint ==desktop {
        @media only screen and (min-width: 750px) {
            @content;
        }
    }
}

/* #endregion */

/* #region Main Style */
.wrapper {
    width: 90%;
    margin: 0 auto;
}

body,
html {
    height: 100%;
}

body {
    background-color: var(--c-main-background);
}

h1 {
    color: var(--c-main-title);
    font-size: 2rem;
}

a,
p,
label {
    color: var(--c-main-text);
    text-decoration: none;
    opacity: var(--o-main-text);
}

/* #endregion */

/* #region Header */

header {
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;

    >img {
        display: block;
        width: 45%;
        min-width: 250px;
        max-width: 300px;
        padding: 5px 0 5px 0;
        height: 50px;
    }

    .big_navigation {
        display: none;

        >ul {
            display: flex;
            margin-right: 0.5rem;

            .big-account-button {
                &:hover {
                    cursor: pointer;
                }
            }

            >li {
                line-height: 60px;
                padding: 0 6px;
                font-size: 1.56rem;
                position: relative;

                a,
                p {
                    color: var(--c-main-title);
                    font-weight: bold;
                }

                >ul {
                    display: none;
                    position: absolute;
                    right: 0px;
                    background-color: var(--c-overlay-background);
                    z-index: 50;
                    transform-origin: top center;

                    >li {
                        width: 100px;
                        text-align: center;
                        border-top: solid 3px var(--c-main-title);

                        a {
                            font-size: 1rem;
                        }
                    }

                    >li:last-of-type {
                        border-bottom: solid 3px var(--c-main-title);
                    }
                }
            }
        }

        @include devices(desktop) {
            display: block;
        }
    }

    .phone_menu_button {

        width: 25px;
        height: 25px;
        padding-top: calc(25px / 1.5);
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
        }

        img {
            display: block;
            width: 25px;
            height: 25px;
        }

        .phone_menu_navigation {
            display: none;
            z-index: 50;
            position: absolute;
            background-color: var(--c-overlay-background);
            left: 0;
            top: 60px;
            width: 100%;
            list-style: none;
            transform-origin: top center;

            li {
                text-align: center;
                border-top: solid 3px var(--c-main-title);

                a,
                p {
                    display: block;
                    font-size: 1.56rem;
                    font-weight: bold;
                    width: 100%;
                }
            }

            li:last-of-type {
                border-bottom: solid 3px var(--c-main-title);
            }
        }

        @include devices(desktop) {
            display: none;
        }
    }

    .account-header-piece {
        text-decoration: underline;
    }
}

/* #endregion */

/* #region Landing Page */

#landing-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.392);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 50;

    .landing-overlay__popup {
        position: absolute;
        width: 330px;
        height: 230px;
        left: calc(50% - (330px / 2));
        top: calc(50% - (230px / 2));
        background-color: #9F7510;
        background-color: white;
        border-radius: 15px;
        animation: scaleUp 500ms ease-in-out forwards;

        .landing-overlay__popup__content {
            height: 200px;
            margin-top: calc(50% - (200px / 2));

            p {
                text-align: center;
                font-size: 2.1rem;
                margin-bottom: 2.5rem;
                color: #707070;
            }

            button {
                display: block;
                margin: 0 auto;
                padding: 0.6rem 3rem;
                border-radius: 5px;
                border: solid thin var(--c-main-title);
                background-color: var(--c-main-title);
                font-size: 1.4rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

#landing-page {

    section {
        max-width: 514px;

        h1 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .landing-choices {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            max-height: 352px;

            a {
                border-radius: 50%;

                input[type="image"] {
                    display: block;
                    width: 159px;
                    height: 166px;
                    border-radius: 50%;
                    border: solid thin var(--c-main-title);
                }
            }
        }

        @include devices(tablet) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(25%);

            width: 518px;
            max-width: 518px;
        }
    }

    @include devices(tablet) {
        position: relative;
    }
}

/* #endregion */

/* #region Home page */
#main-page {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: reverse;
    margin-top: 3rem;

    .left {
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    .right {
        margin: 0 auto;
        margin-bottom: 2rem;
        max-width: 250px;

        h1 {
            border-bottom: solid 3px var(--c-main-title);
            font-size: 21px;
            text-align: center;
            margin-bottom: 1.5rem;
            padding-bottom: 0.3rem;

        }

        p {
            font-size: 14px;
            line-height: 1.05rem;
        }

        a {
            color: var(--c-main-title);
            font-weight: bold;
            opacity: 1;
        }
    }
}

/* #endregion */

/* #region Login/Register page */

#login-page,
#register-page {

    form {

        margin-top: 3rem;
        display: block;
        text-align: center;

        input {
            background-color: var(--c-overlay-background);
            border: none;
            display: block;
            height: 40px;
            width: 278px;
            margin: 0 auto;

            &[type="submit"] {
                margin-top: 1rem;
                background-color: var(--c-main-title);
                width: 160px;
                height: 58px;
                border-radius: 15px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
            }
        }

        label {
            display: block;
            font-size: 1.9rem;
            margin: 0.5rem 0;
        }
    }
}

/* #endregion */

/* #region Animations */

@-webkit-keyframes deployAnimation {

    0% {

        transform: rotateX(-90deg)
    }


    100% {

        transform: rotateX(0deg)
    }

}

@keyframes deployAnimation {

    0% {

        transform: rotateX(-90deg)
    }


    100% {

        transform: rotateX(0deg)
    }

}

@-webkit-keyframes retractAnimation {

    0% {

        transform: rotateX(0deg)
    }


    100% {

        transform: rotateX(-90deg)
    }

}

@keyframes retractAnimation {

    0% {

        transform: rotateX(0deg)
    }


    100% {

        transform: rotateX(-90deg)
    }

}

@keyframes scaleUp {
    0% {
        transform: scale(0)
    }


    100% {

        transform: scale(1)
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1)
    }


    100% {

        transform: scale(0)
    }
}

/* #endregion */