<header>
    <img src="assets/images/logoLOTR.png" alt="Logo">
    <nav>
        <ul class="LOTR_Nav">
            <li><a href="./" class="">Home</a></li>
            <li><a href="./quiz" class="">Quiz</a></li>
            <li><a href="./favorites" class="">Favorites</a></li>
            <li><a href="./blacklist" class="">Blacklist</a></li>
            <ul>
    </nav>
</header>